[user]
	name = Ampie Barnard
	email = ampieb@gmail.com
[http]
    proxy = http://F4673522:Ainnikki1412@proxyo.fnb.co.za:8080/

[https]
    proxy = http://F4673522:Ainnikki1412@proxyo.fnb.co.za:8080/

[push]
	default = simple
