<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated cmmn10 -->
      <package
            uri="http://www.omg.org/spec/CMMN/20131201/MODEL"
            class="org.omg.cmmn10.Cmmn10Package"
            genModel="model/cmmn10.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated cmmn10 -->
      <parser
            type="cmmn10"
            class="org.omg.cmmn10.util.Cmmn10ResourceFactoryImpl"/>
   </extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated cmmn1 -->
      <package
            uri="http://www.omg.org/spec/CMMN/20131201/MODEL"
            class="org.omg.cmmn1.Cmmn1Package"
            genModel="model/cmmn10.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated cmmn1 -->
      <parser
            type="cmmn1"
            class="org.omg.cmmn1.util.Cmmn1ResourceFactoryImpl"/>
   </extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated CMMN10 -->
      <package
            uri="http://www.omg.org/spec/CMMN/20131201/MODEL"
            class="org.eclipse.cmmn1.Cmmn1Package"
            genModel="model/CMMN10.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated CMMN10 -->
      <parser
            type="cmmn1"
            class="org.eclipse.cmmn1.util.Cmmn1ResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated CMMN10 -->
      <package
            uri="http://www.omg.org/spec/CMMN/20131201/DI"
            class="org.eclipse.cmmndi.CmmnDiPackage"
            genModel="model/CMMN10.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated CMMN10 -->
      <parser
            type="cmmndi"
            class="org.eclipse.cmmndi.util.CmmnDiResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated CMMN10 -->
      <package
            uri="http://www.omg.org/spec/DD/20150101/DI-XMI"
            class="org.eclipse.dd.cmmn.di.DiPackage"
            genModel="model/CMMN10.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated CMMN10 -->
      <parser
            type="di"
            class="org.eclipse.dd.cmmn.di.util.DiResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated CMMN10 -->
      <package
            uri="http://www.omg.org/spec/DD/20150101/DC-XMI"
            class="org.eclipse.dd.cmmn.dc.DcPackage"
            genModel="model/CMMN10.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated CMMN10 -->
      <parser
            type="dc"
            class="org.eclipse.dd.cmmn.dc.util.DcResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated jbpmextensions -->
      <package
            uri="http://www.jbpm.org/cmmn/jbpmext"
            class="org.jbpm.cmmn.jbpmext.JbpmextPackage"
            genModel="model/jbpmextensions.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated jbpmextensions -->
      <parser
            type="jbpmext"
            class="org.jbpm.cmmn.jbpmext.util.JbpmextResourceFactoryImpl"/>
   </extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated color -->
      <package
            uri="http://www.omg.org/spec/DD/non-normative/color"
            class="org.eclipse.dd.color.color.ColorPackage"
            genModel="model/color.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated color -->
      <parser
            type="color"
            class="org.eclipse.dd.color.color.util.ColorResourceFactoryImpl"/>
   </extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated UMLDI -->
      <package
            uri="http://www.omg.org/spec/UML/20131201/DI"
            class="org.eclipse.uml2.di.umldi.UMLDIPackage"
            genModel="model/UMLDI.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated UMLDI -->
      <parser
            type="umldi"
            class="org.eclipse.uml2.di.umldi.util.UMLDIResourceFactoryImpl"/>
   </extension>
</plugin>
